<div ng-controller="CommitteeCtrl">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <th>Title:</th>
        <th>Description:</th>
        <th>Pull</th>
      </tr>
    <tbody>
    <tr ng-repeat="bill in bills|StatusFilter:'Waiting'">
      <td>{{bill.Title}}</td>
      <td>{{bill.Description}}</td>
      <td>
        <button class="btn" ng-click="pull(bill)">
          <span class="glyphicon glyphicon-inbox"></span> Pull
        </button>
      </td>
      <!--<select ng-model="bill.status" ng-options="bill.status.$id as status.Name for status in statuses |filter:{Name :'Waiting'}"></select>-->
    </tr>
    </tbody>
    </table>
  </div>
  <div class="col-md-6" ng-show="currentBill" class="ng-hide">
    <!--<div ng-show="currentBill" class="ng-hide"></div>-->
    <div class="row">
      <p><button class="btn" ng-click="pullBack()">
      <span class="glyphicon glyphicon-arrow-left"></span> Pull Back
      </button></p>
    </div>

    <div class="row">
      <p>Category:{{category.$value}}</p>
    </div>

    <div class="row">
      <p>Title:{{currentBill.Title}}</p>
    </div>

    <div class="row">
      <p>Description:{{currentBill.Description}}</p>
    </div>
    <form name="denyForm">
    <div class="row">

      <p>
      Deny Reason:
  <!-- <form  ng-submit="addDenyReason()">-->
      <textarea
        ng-model="commentText"
        placeholder="Deny Reason"
        class="form-control" required></textarea>
    <!--  <input type="submit" value="Deny Reason" class="btn btn-primary" />
    </form>--></p>
    </div>
    <div class="row" >
      <div class="pull-right">
        <p>
          <button class="btn"  ng-disabled="denyForm.$invalid">Deny</button>
          <button class="btn" ng-disabled="denyForm.$valid" ng-click="submitApproveBill()">Approve</button>
        </p>

      </div>
    </div>
    </form>
  </div>
</div>
