<div ng-controller="VoteViewCtrl">
  <div class="col-md-12">
    <div  class="well">
      <p>
        Owner:
      </p>
      <p>
        Title:{{vote.Bill.Title}}
      </p>
      <p>
        Description:{{vote.Bill.Description}}
      </p>
      <p>
        Create Date:
      </p>
      <p>
        Valid Until:
      </p>
    </div>
    <div class="row" >
      <div class="pull-right">
        <p>
          <button class="btn" ng-click="aye()">
          <span class="glyphicon glyphicon-thumbs-up"></span>
            Aye
          </button>
          <button class="btn" style="margin-right:14px "  ng-click="no()">
           <span class="glyphicon glyphicon-thumbs-down"></span>
            No
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-5 col-md-offset-1">
      <div  class="well">
        Aye:
        <p>User:{{counterAye}}</p>
      </div>
    </div>
    <div class="col-md-5">
      <div  class="well">
        No:
        <p>User:{{counterNo}}</p>
      </div>
    </div>
  </div>
</div>
